.sudoku {
	--gap: 60px;
	--border-radius: 15px;
	--transition: 0.3s ease-in-out;
	--text-size: 24px;
	display: grid;
	grid-template-rows: repeat(9, 1fr);
	border-radius: var(--border-radius);
	box-shadow: 0 0 15px rgba(247, 175, 108, 0.9);
	transition: var(--transition);
	gap: 0;
	&-row {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		transition: var(--transition);
		gap: 0;
	}
	&-col {
		width: var(--gap);
		height: var(--gap);
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff3e7;
		font-size: var(--text-size);
		color: #fd9d5d;
		cursor: pointer;
		border: 1px solid #f2e3d7;
		transition: 0.2s;
		user-select: none;
		outline: none;
		text-align: center;
		&:hover {
			background: #fff;
			transition: 0s;
		}
		&.inserted {
			color: #666666;
		}
	}
	&-row:first-child {
		.sudoku-col:first-child {
			border-top-left-radius: var(--border-radius);
		}
		.sudoku-col:last-child {
			border-top-right-radius: var(--border-radius);
		}
	}
	&-row:last-child {
		.sudoku-col:first-child {
			border-bottom-left-radius: var(--border-radius);
		}
		.sudoku-col:last-child {
			border-bottom-right-radius: var(--border-radius);
		}
	}

	&.gap {
		--invalid-gap: 5px;
		gap: var(--invalid-gap);
		box-shadow: none;
		opacity: 0.5;

		.sudoku-row {
			gap: var(--invalid-gap);
		}
		.sudoku-col {
			color: rgb(252, 122, 122) !important;
		}
	}
	.sudoku-row:nth-child(3n):not(:last-child) {
		.sudoku-col {
			border-bottom: 2px solid #f0c8ad;
		}
	}
	.sudoku-col:nth-child(3n):not(:last-child) {
		border-right: 2px solid #f0c8ad;
	}
}
@media only screen and (max-width: 1200px) {
	.sudoku {
		--gap: 35px;
		--text-size: 18px;
		margin: 40px 0;
	}
}
